.h-100vh {
    height: 100vh;
}

.min-h-100vh {
    min-height: 100vh;
}

.nav-link {
    transition: 0ms;
    border-color: white white white white !important;
    border-bottom-width: 4px !important;
    border-style: solid;
}

.nav-link:hover {
    border-bottom-color: #ae122a !important;
}
.nav-link-active {
    border-bottom-color: #ae122a !important;
}

.bg-main {
    background-color: #ae122a;
}

.text-main {
    color: #ae122a;
}

.footer-link {
    border-color: transparent transparent transparent transparent !important;
    border-bottom-width: 4px !important;
    border-style: solid;
    transition: 100ms;
}

.footer-link:hover {
    border-bottom-color: #ae122a !important;
}